body
    {
        background-image: url(/src/background_gris.jpg);
        background-size: cover; 
    }
nav
    {
        background-color: rgb(236, 235, 235);
        border: 2px solid rgb(73, 73, 73);
        border-radius: 5%;
        font-family:Arial, Helvetica, sans-serif;
        font-style: italic;   
    }   

button
    {
        background-color: rgb(249, 246, 246);
        border: 0ch;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        text-decoration: none;
        border-radius: 20%;
    }
button:hover 
    {
    background-color: #db40cc;
    border-radius: 10%;
    
    }
.span_nav_izquierdo
    {
        text-decoration: none;
        margin: 30px;
        color:white !important;
        font-family: 'Courier New', Courier, monospace;
       
    }
.span_nav_derecho
    {
        text-decoration: none;
        margin: 30px;
        color:white !important;
        font-family: 'Courier New', Courier, monospace;    
    }   
.span_nav_centro
    {
        text-decoration: none;
        margin: 30px;
        color:white !important;
        font-family: 'Courier New', Courier, monospace;
    }
.span_nav_izquierdo:hover
    {  
        transform: scale(1.9);
        background-image: linear-gradient(to right, white, rgb(231, 33, 231))
    }
.span_nav_derecho:hover
    {
        transform: scale(1.9);
        background-image: linear-gradient(to left, white, rgb(231, 33, 231))
    }
.span_nav_centro:hover
    {
        transform: scale(1.9);
        background-color: rgb(231, 77, 231);
    }
        
.darck_lado_derecho/*boton modo darck*/
    {
        position: absolute;
        right: 1%;
        top: 1%;
    }
        
.button2:hover /*boton de productos*/
    {
    background-color: #db40cc;
    border-radius: 30%;
    }


.perfil img
    { 
        border-radius: 50%;
    }

.titulo_h1
    {
        font-family:'Courier New', Courier, monospace;
        font-size: 40px;
        color: white;
        margin-top: 2px;
    }
h3
{
    font-size: 70px;
    font-family: cursive;
}

.quienSoy
    {
        background-image: url(/src/Fondo_quien_soy.jpg);
        height:"100%";
        width:"100%";
        position: relative; /* Establece el contenedor como posición relativa */ 
        font-family:monospace;
    }

.Imagenes_productos
    {
        border-radius: 50%;
        height: 200px;
        width: 200px;
    }
.contenedor_potencia
    {
        height:"100%";
        width:"100%";
        background-image: url(/src/Fondo_quien_soy.jpg);
        position: relative; /* Establece el contenedor como posición relativa */ 
    }

.popup 
    {
        visibility: hidden; /* Inicialmente oculta la ventana emergente */
        position: fixed; /* Establece la posición fija */
        z-index: 1; /* Coloca la ventana emergente sobre otros elementos */
        left: 50%; /* Centra horizontalmente */
        top: 50%; /* Centra verticalmente */
        transform: translate(-50%, -50%); /* Centra horizontal y verticalmente */
        background-color: rgba(255, 254, 254); /* Fondo semi-transparente */
        padding: 20px; /* Espaciado interno */
        border-radius: 10px; /* Bordes redondeados */
        text-align: center; /* Centra el contenido horizontalmente */
    }

/* Muestra la ventana emergente cuando el botón se hace clic */
#ventanaEmergente:target 
    {
        visibility: visible;
    }
#ventanaEmergenteWEB:target 
    {   
        visibility: visible;
    }
#ventanaEmergenteOPERADOR:target 
    {
        visibility: visible;
    }
#ventanaEmergenteSPOTS:target  
    {
        visibility: visible;
    }
#ventanaEmergenteFOTO:target
    {
        visibility: visible;
    }
#ventanaEmergenteRADIO:target 
    {
        visibility: visible;
    }

a
    {
        text-decoration: none; 
    }

.sobreMi
    {
        font-family: 'Courier New', Courier, monospace;
        color: white;

    }
.h1_quienSoy
    {
        font-family: 'Times New Roman', Times, serif;
        font-style:italic;
        color: white;
    } 
.bordeSeccion_contacto
    {
        border: solid black;
        height: 50%;
        width: 54%;
        background-color: #c9c8c8;
        border-radius: 20px;
    }
.h3_contacto
    {
        margin-top: 10px;
        margin-bottom: 2px;
        font-size: 20px;
    }
.h1_galeria
    {
        font-size: 30px;
        color: white;
        font-family:monospace;
    }
.button_potencia_vamos
    {
        padding: 20px;
    }
.button_emergente
    {
        padding-left: 10px;
        padding-right: 10px;
    }
.span_responsive
{
        position: absolute;
        
        top: 20%;
        left: 80%;
        transform: translate(-50%, -20%);
        color: white;
        font-size: 2vw; /* Tamaño de fuente relativo al ancho de la ventana */
        font-weight: bold;
        max-width: 80%; /* Ancho máximo para mantener legibilidad en pantallas más grandes */
}
/* Media query para ajustar el tamaño de fuente en dispositivos más pequeños */
@media screen and (max-width: 768px) {
    span {
        font-size: 3vw; /* Tamaño de fuente más grande para dispositivos más pequeños */
    }
}
/* Estilos base para el input */
input[type="text"] input[type="email"] {
    width: 100%; /* Ancho completo del contenedor padre */
    padding: 10px; /* Espacio interno */
    font-size: 16px; /* Tamaño de fuente inicial */
    border: 1px solid #ccc; /* Borde simple */
    border-radius: 5px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
}

/* Media query para ajustar el tamaño de fuente en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    input[type="text"] {
        font-size: 14px; /* Tamaño de fuente más pequeño para dispositivos móviles */
    }
}
